@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* 11, 13, 17, 21, 27.5, 34, 44.5, 55, 72 */
body {
  font: 17px/24px "OFL Sorts Mill Goudy TT", Georgia, serif;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("/fonts/LeagueGothic/League_Gothic-webfont.eot");
  src: url("/fonts/LeagueGothic/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/LeagueGothic/League_Gothic-webfont.woff") format("woff"), url("/fonts/LeagueGothic/League_Gothic-webfont.ttf") format("truetype"), url("/fonts/LeagueGothic/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.small, small {
  font-size: 13px;
  line-height: 18px;
}

.container {
  margin: 0 auto;
  *zoom: 1;
}
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: #fffc01;
}

abbr {
  font-variant: small-caps;
  text-transform: lowercase;
}

::selection {
  background: #fffc01;
}

::-moz-selection {
  background: #fffc01;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #fffc01;
}

body {
  margin: 0 auto;
  color: #222222;
  background: #fffc01;
}

.services-sprite, .services-email, .services-facebook, .services-linkedin, .services-twitter {
  background: url('/images/services-d81cdae990.png') no-repeat;
}

.services-email {
  background-position: 0 0;
}

.services-facebook {
  background-position: 0 -24px;
}

.services-linkedin {
  background-position: 0 -48px;
}

.services-twitter {
  background-position: 0 -72px;
}

header#site #basic-info {
  position: relative;
  z-index: 6;
  border-bottom: 1px solid #7b0a04;
  background: #e62117;
  background: rgba(230, 33, 23, 0.8);
  color: white;
  padding: 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}
header#site #basic-info h1 {
  font: 72px/72px "LeagueGothicRegular", Helvetica, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: -1px;
  margin-bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 1px;
}
header#site #basic-info h2 {
  font: 45px/45px "LeagueGothicRegular", Helvetica, "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  letter-spacing: -1px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0;
}
header#site #basic-info #services {
  letter-spacing: 10px;
  margin: 7px 0 9px;
  *zoom: 1;
}
header#site #basic-info #services:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
header#site #basic-info #services a {
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  display: block;
  float: right;
  margin-left: 10px;
}
header#site #basic-info .info {
  font: 24px/24px "LeagueGothicRegular", Helvetica, "Helvetica Neue", Arial, sans-serif;
  text-align: right;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0;
  margin: 0;
}
header#site #basic-info .info .tel {
  margin-right: .25em;
}
header#site #basic-info .info abbr {
  letter-spacing: -2px;
}

#main {
  background: #313d68;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c5780), color-stop(96px, #313d68), color-stop(90%, #313d68), color-stop(100%, #1c264a));
  background: -webkit-linear-gradient(top, #4c5780 0%, #313d68 96px, #313d68 90%, #1c264a);
  background: -moz-linear-gradient(top, #4c5780 0%, #313d68 96px, #313d68 90%, #1c264a);
  background: -o-linear-gradient(top, #4c5780 0%, #313d68 96px, #313d68 90%, #1c264a);
  background: linear-gradient(top, #4c5780 0%, #313d68 96px, #313d68 90%, #1c264a);
  border-top: 1px solid #313d68;
  border-top: 1px solid #93969f;
  border-bottom: 1px solid #b3b3b3;
  color: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px;
}
#main nav#work {
  margin-bottom: 24px;
}
#main nav#work ul {
  list-style: none;
  margin: 0 auto;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
}
#main nav#work ul li {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
#main nav#work a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 12px 0;
  font: 45px/48px "LeagueGothicRegular", Helvetica, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(49, 61, 104, 0.5) 1px 1px 0;
}
#main nav#work a.on {
  cursor: default;
  color: white;
}
#main nav#work a:hover {
  text-shadow: rgba(49, 61, 104, 0.5) 1px 1px 0, rgba(255, 255, 255, 0.5) 0 0 5px;
}
#main nav#work a:hover.on {
  text-shadow: rgba(49, 61, 104, 0.5) 1px 1px 0;
}
#main #projects h2 {
  display: none;
}
#main #projects section h3 {
  margin: 48px 0 0;
  font: 34px/48px "LeagueGothicRegular", Helvetica, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  clear: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#main #projects section h3:before, #main #projects section h3:after {
  content: "◆◆◆";
  margin: 0 8em;
  font-size: 13px;
  line-height: 0;
  letter-spacing: 20px;
}
#main #projects section h4 {
  text-align: center;
  margin-bottom: 24px;
  font: 21px/24px "LeagueGothicRegular", Helvetica, "Helvetica Neue", Arial, sans-serif;
}
#main #projects section h4 a {
  margin-right: 1em;
}
#main #projects section h5 {
  font: 28px/48px "LeagueGothicRegular", Helvetica, "Helvetica Neue", Arial, sans-serif;
  margin: 12px 0;
  letter-spacing: -1px;
  clear: left;
  text-align: center;
}
#main #projects section p {
  width: 712px;
}
#main #projects section .thumb {
  margin-bottom: 24px;
  *zoom: 1;
}
#main #projects section .thumb:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
#main #projects section .thumb p {
  width: auto;
}
#main #projects section .thumb img {
  cursor: pointer;
  display: block;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#main #projects section .thumb img.zoom {
  z-index: 9999;
  width: 896px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 3px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 3px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.75) 0 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 3px 10px;
}

footer {
  font-size: 13px;
  line-height: 48px;
  *zoom: 1;
}
footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
footer a {
  color: #313d68;
}
footer .left {
  float: left;
}
footer .right {
  float: right;
}

/* Default Layout: 992px.
   Gutters: 24px.
   Outer margins: 48px.
   Leftover space for scrollbars @1024px: 32px.  */
.container {
  width: 896px;
  /*    padding: 72px 48px 84px;*/
}

header#site #my-photo {
  position: relative;
}
header#site #my-photo img.photo {
  position: absolute;
  top: -344px;
  left: 0;
}
header#site #basic-info h1 {
  width: 344px;
  margin-right: 24px;
  float: left;
}
header#site #basic-info h2 {
  float: left;
  margin-top: 22px;
}
header#site #basic-info #contact-info {
  float: right;
}
header#site #about-me {
  padding: 24px 0;
  min-height: 200px;
  text-shadow: rgba(255, 255, 255, 0.4) 1px 1px 0;
}
header#site #about-me #bio {
  width: 528px;
  margin-left: 368px;
  float: left;
}

#main {
  position: relative;
  z-index: 6;
}
#main nav#work ul {
  width: 896px;
  margin-right: 24px;
}
#main #projects {
  padding-bottom: 360px;
}
#main #projects section {
  width: 896px;
}
#main #projects section p {
  margin-left: 92px;
}
#main #projects section .thumb {
  min-height: 216px;
}
#main #projects section .thumb img {
  width: 344px;
  margin-right: 24px;
  position: absolute;
}
#main #projects section .thumb p {
  width: auto;
  margin-left: 368px;
}

/* Tablet Layout: 768px.
   Gutters: 24px.
   Outer margins: 28px.
   Inherits styles from: Default Layout.  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 712px;
    /*    padding: 48px 28px 60px;*/
  }

  header#site #basic-info h1 {
    width: 344px;
    margin-right: 24px;
    float: left;
  }
  header#site #basic-info h2 {
    float: left;
    font-size: 34px;
    margin: 0;
  }
  header#site #basic-info #contact-info {
    float: none;
  }
  header#site #basic-info #services {
    margin: 0;
    height: 45px;
  }
  header#site #basic-info #services a {
    margin-top: 11px;
  }
  header#site #basic-info .info {
    line-height: 18px;
    text-align: left;
  }
  header#site #about-me {
    padding: 24px 0;
    min-height: 200px;
    text-shadow: rgba(255, 255, 255, 0.4) 1px 1px 0;
  }
  header#site #about-me #bio {
    width: 344px;
    margin-left: 368px;
    float: left;
  }

  #main nav#work ul {
    width: 712px;
    margin-right: 24px;
  }
  #main #projects {
    padding-bottom: 200px;
  }
  #main #projects section {
    width: 712px;
  }
  #main #projects section p {
    margin-left: 0;
  }
  #main #projects section .thumb img {
    width: 344px;
    margin-right: 24px;
  }
  #main #projects section .thumb img.zoom {
    width: 712px;
  }
}
/* Mobile Layout: 320px.
   Gutters: 24px.
   Outer margins: 34px.
   Inherits styles from: Default Layout.  */
@media only screen and (max-width: 767px) {
  .container {
    width: 252px;
    /*    padding: 48px 34px 60px;*/
  }

  body {
    font-size: 17px;
    line-height: 24px;
  }

  header#site #basic-info {
    *zoom: 1;
  }
  header#site #basic-info:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
  header#site #basic-info .name-title {
    text-align: center;
  }
  header#site #basic-info h1 {
    font-size: 34px;
    line-height: 34px;
    width: auto;
    float: none;
    margin-right: 0;
  }
  header#site #basic-info h2 {
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    float: none;
  }
  header#site #basic-info #contact-info {
    float: none;
  }
  header#site #basic-info #contact-info #services {
    text-align: center;
  }
  header#site #basic-info #contact-info #services a {
    float: none;
    margin: 0 5px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
  }
  header#site #basic-info #contact-info #services a {
    *display: inline;
  }
  header#site #basic-info #contact-info .info {
    text-align: center;
  }
  header#site #about-me {
    background: rgba(255, 252, 1, 0.75);
    position: relative;
    z-index: 5;
  }
  header#site #about-me #bio {
    width: 252px;
    margin-left: 0;
    float: none;
  }
  header#site #my-photo img.photo {
    top: auto;
    bottom: 0;
    width: 252px;
  }

  #main nav#work {
    margin-bottom: 12px;
  }
  #main nav#work ul {
    width: 252px;
    margin-right: 24px;
  }
  #main nav#work a {
    font-size: 21px;
    line-height: 24px;
  }
  #main #projects {
    padding-bottom: 0;
  }
  #main #projects section {
    width: 252px;
  }
  #main #projects section h3 {
    margin-top: 24px;
    font-size: 28px;
    line-height: 36px;
  }
  #main #projects section h3:before, #main #projects section h3:after {
    margin: 0 1em;
    letter-spacing: 3px;
  }
  #main #projects section p {
    width: 252px;
    margin-left: 0;
  }
  #main #projects section .thumb p {
    margin-left: 0;
  }
  #main #projects section .thumb img {
    width: 252px;
    margin: 0 0 24px;
    position: static;
  }
  #main #projects section .thumb img.zoom {
    width: 252px;
  }

  footer {
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    padding: 12px 0;
  }
  footer .left, footer .right {
    float: none;
  }
}
/* Wide Mobile Layout: 480px.
   Gutters: 24px.
   Outer margins: 22px.
   Inherits styles from: Default Layout, Mobile Layout.  */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 436px;
    /*    padding: 36px 22px 48px;*/
  }

  body {
    font-size: 13px;
    line-height: 18px;
  }

  header#site #basic-info .name-title {
    float: left;
    text-align: left;
  }
  header#site #basic-info #contact-info {
    float: right;
  }
  header#site #basic-info #contact-info #services {
    float: right;
  }
  header#site #basic-info #contact-info #services a {
    margin: 0 0 0 10px;
  }
  header#site #basic-info #contact-info .info {
    text-align: right;
    clear: right;
  }
  header#site #about-me #bio {
    width: 436px;
  }
  header#site #my-photo img.photo {
    right: 0;
    left: auto;
  }

  #main nav#work ul {
    width: 436px;
    margin-right: 24px;
  }
  #main nav#work a {
    font-size: 28px;
  }
  #main #projects section {
    width: 436px;
  }
  #main #projects section h3:before, #main #projects section h3:after {
    margin: 0 2em;
  }
  #main #projects section p {
    width: 436px;
  }
  #main #projects section .thumb img {
    width: 436px;
  }
  #main #projects section .thumb img.zoom {
    width: 436px;
  }
}
/* Retina media query.
   Overrides styles for devices with a
   device-pixel-ratio of 2+, such as iPhone 4.  */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .services-email,
  .services-facebook,
  .services-linkedin,
  .services-twitter {
    background-image: url('/images/services-48-35ae416391.png');
    background-size: 100% auto;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    border: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
  }

  a, a:visited {
    color: #333333 !important;
    text-decoration: underline;
  }

  img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3, h4, h5 {
    page-break-after: avoid;
  }

  .name-title {
    float: left;
    margin-left: 92px;
    width: 344px;
    margin-right: 24px;
  }
  .name-title h2 {
    margin-top: 12px !important;
  }

  #contact-info {
    float: right;
    width: 436px;
    position: relative;
  }
  #contact-info #services {
    margin-top: 56px !important;
    text-align: left !important;
  }
  #contact-info #services a {
    font-size: 13px;
    line-height: 18px;
    display: block !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
    text-indent: 0 !important;
    background: none !important;
    letter-spacing: 0 !important;
    text-decoration: none !important;
    margin: 0 !important;
  }
  #contact-info #services a:after {
    content: ": " attr(href);
  }
  #contact-info #services a.email:before {
    content: "Email: ";
  }
  #contact-info #services a.email:after {
    content: "";
  }
  #contact-info .info {
    position: absolute !important;
    top: 6px;
    left: 0;
  }

  #bio {
    margin-left: 92px !important;
    width: 712px !important;
  }

  #my-photo {
    display: none !important;
  }

  nav#work {
    display: none !important;
  }

  #projects {
    padding-bottom: 0 !important;
  }
  #projects section {
    display: block !important;
  }
  #projects section h2 {
    margin: 0 92px 24px !important;
    padding: 12px 0 6px !important;
    display: block !important;
    font: 45px/45px "LeagueGothicRegular", Helvetica, "Helvetica Neue", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    letter-spacing: -1px;
    border: 1px solid black !important;
    border-width: 2px 0 1px !important;
  }
  #projects section img {
    width: 698px !important;
    border: 2px solid #999999 !important;
    padding: 5px !important;
    margin-bottom: 24px !important;
  }
  #projects section p {
    width: 712px !important;
  }
  #projects section img, #projects section p {
    margin-left: 92px !important;
    position: static !important;
  }

  footer {
    display: none !important;
  }
}
