@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*@import "partials/slider";*/
/* 11, 13, 17, 21, 27.5, 34, 44.5, 55, 72 */
body {
  font: 17px/24px "OFL Sorts Mill Goudy TT", Georgia, serif;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'BonvenoCFLight';
  src: url("/fonts/BonvenoCF-Light-webfont.eot");
  src: url("/fonts/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/BonvenoCF-Light-webfont.woff") format("woff"), url("/fonts/BonvenoCF-Light-webfont.ttf") format("truetype"), url("/fonts/BonvenoCF-Light-webfont.svg#BonvenoCFLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("/fonts/LeagueGothic/League_Gothic-webfont.eot");
  src: url("/fonts/LeagueGothic/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/LeagueGothic/League_Gothic-webfont.woff") format("woff"), url("/fonts/LeagueGothic/League_Gothic-webfont.ttf") format("truetype"), url("/fonts/LeagueGothic/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.small, small {
  font-size: 13px;
  line-height: 18px;
}

p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: #f2fa67;
}

abbr {
  font-variant: small-caps;
  text-transform: lowercase;
}

::selection {
  background: #f2fa67;
}

::-moz-selection {
  background: #f2fa67;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #f2fa67;
}

body {
  margin: 0 auto;
  color: #222222;
  background: #f2fa67;
}

.services-sprite, .services-email, .services-facebook, .services-linkedin, .services-twitter {
  background: url('/images/services-d81cdae990.png') no-repeat;
}

.services-email {
  background-position: 0 0;
}

.services-facebook {
  background-position: 0 -24px;
}

.services-linkedin {
  background-position: 0 -48px;
}

.services-twitter {
  background-position: 0 -72px;
}

header#site #basic-info {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #7b0a04;
  background: #e62117;
  background: rgba(230, 33, 23, 0.8);
  color: white;
  padding: 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}
header#site #basic-info h1 {
  font: 72px/72px "LeagueGothicRegular", GillSans, Calibri, Trebuchet, sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: -1px;
  margin-bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 1px;
}
header#site #basic-info h2 {
  font: 45px/45px "LeagueGothicRegular", GillSans, Calibri, Trebuchet, sans-serif;
  text-rendering: optimizeLegibility;
  letter-spacing: -1px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0;
}
header#site #basic-info #services {
  letter-spacing: 10px;
  margin: 7px 0 9px;
  *zoom: 1;
}
header#site #basic-info #services:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
header#site #basic-info #services a {
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  display: block;
  float: right;
  margin-left: 10px;
}
header#site #basic-info .info {
  font-size: 13px;
  line-height: 18px;
  font: 24px/24px "LeagueGothicRegular", GillSans, Calibri, Trebuchet, sans-serif;
  text-align: right;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0;
  margin: 0;
}
header#site #basic-info .info .tel {
  margin-right: .25em;
}
header#site #basic-info .info abbr {
  letter-spacing: -2px;
}

#main {
  background: #313d68;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c5780), color-stop(96px, #313d68), color-stop(90%, #313d68), color-stop(100%, #1c264a));
  background: -webkit-linear-gradient(top, #4c5780 0%, #313d68 96px, #313d68 90%, #1c264a);
  background: -moz-linear-gradient(top, #4c5780 0%, #313d68 96px, #313d68 90%, #1c264a);
  background: -o-linear-gradient(top, #4c5780 0%, #313d68 96px, #313d68 90%, #1c264a);
  background: linear-gradient(top, #4c5780 0%, #313d68 96px, #313d68 90%, #1c264a);
  border-top: 1px solid #313d68;
  border-top: 1px solid #93969f;
  border-bottom: 1px solid #b3b3b3;
  color: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px;
}
#main nav#work {
  margin-bottom: 24px;
}
#main nav#work ul {
  list-style: none;
  margin: 0 auto;
  width: 896px;
  margin-right: 24px;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
}
#main nav#work ul li {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
#main nav#work a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 12px 0;
  font: 45px/48px "LeagueGothicRegular", GillSans, Calibri, Trebuchet, sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(49, 61, 104, 0.5) 1px 1px 0;
}
#main nav#work a.on {
  cursor: default;
  color: white;
}
#main nav#work a:hover {
  text-shadow: rgba(49, 61, 104, 0.5) 1px 1px 0, rgba(255, 255, 255, 0.5) 0 0 5px;
}
#main nav#work a:hover.on {
  text-shadow: rgba(49, 61, 104, 0.5) 1px 1px 0;
}
#main #projects section {
  width: 896px;
}
#main #projects section h3 {
  margin: 48px 0 0;
  font: 34px/48px "LeagueGothicRegular", GillSans, Calibri, Trebuchet, sans-serif;
  text-align: center;
  clear: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#main #projects section h3:before, #main #projects section h3:after {
  content: "◆◆◆";
  margin: 0 8em;
  font-size: 13px;
  line-height: 0;
  letter-spacing: 20px;
}
#main #projects section h4 {
  text-align: center;
  margin-bottom: 24px;
  font: 21px/24px "LeagueGothicRegular", GillSans, Calibri, Trebuchet, sans-serif;
}
#main #projects section h4 a {
  margin-right: 1em;
}
#main #projects section h5 {
  font: 28px/48px "LeagueGothicRegular", GillSans, Calibri, Trebuchet, sans-serif;
  margin: 12px 0;
  letter-spacing: -1px;
  clear: left;
  text-align: center;
}
#main #projects section p {
  width: 712px;
  margin-left: 92px;
}
#main #projects section .thumb {
  *zoom: 1;
  min-height: 216px;
}
#main #projects section .thumb:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
#main #projects section .thumb p {
  width: auto;
  margin-left: 368px;
}
#main #projects section .thumb img {
  cursor: pointer;
  width: 344px;
  margin-right: 24px;
  display: block;
  position: absolute;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#main #projects section .thumb img.zoom {
  z-index: 9999;
  width: 896px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 3px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 3px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.75) 0 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 3px 10px;
}

footer {
  font-size: 13px;
  line-height: 48px;
  *zoom: 1;
}
footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
footer a {
  color: #313d68;
}
footer .left {
  float: left;
}
footer .right {
  float: right;
}

/* Default Layout: 992px.
   Gutters: 24px.
   Outer margins: 48px.
   Leftover space for scrollbars @1024px: 32px.  */
.container {
  width: 896px;
  /*    padding: 72px 48px 84px;*/
  margin: 0 auto;
  *zoom: 1;
}
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

header#site #my-photo {
  position: relative;
}
header#site #my-photo img.photo {
  position: absolute;
  top: 0;
  left: 0;
}
header#site #basic-info h1 {
  width: 344px;
  margin-right: 24px;
  float: left;
}
header#site #basic-info h2 {
  float: left;
  margin-top: 22px;
}
header#site #basic-info #contact-info {
  float: right;
}
header#site #about-me {
  padding: 24px 0;
  min-height: 200px;
  text-shadow: rgba(255, 255, 255, 0.4) 1px 1px 0;
}
header#site #about-me #bio {
  width: 528px;
  margin-left: 368px;
  float: left;
}

#main {
  position: relative;
  z-index: 2;
}
#main #projects {
  min-height: 600px;
  padding-bottom: 360px;
}

/*
@import "partials/tablet";
@import "partials/mobile";
@import "partials/wide-mobile";
@import "partials/high-px-ratio";
*/
